################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDD/bin/Debug
*.suo
/PDD/obj/Debug
*.cache
/PDD/obj/Debug
